<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/css/resert.css" />
    <link rel="stylesheet" href="/css/partner/Home.css" />
    <link rel="stylesheet" href="/fontawesome-free-6.2.1-web/css/all.css" />

    <style>
      #GFG {
          text-decoration: none;
      }
      a { 
        color: black;
      }
    </style>
    <title>Home</title>
  </head>

  <body>
    <section>
      <nav class="Navbar">
        <img id="logo" src="/images/pic/logo.png" alt="this is logo" />
        <ul class="Navbar-Directory">

          <li class="Navbar-Directory-item">
            <a href="/accb_food.vn/doitac" id="GFG">Home</a>
          </li>

          <li class="Navbar-Directory-item">
            <a href="/accb_food.vn/doitac/shop" id="GFG">Shop</a>
          </li>
          
          <li class="Navbar-Directory-item">
            <a href="/accb_food.vn/doitac/orders" id="GFG">Order</a>
          </li>

          <!--
          <li class="Navbar-Directory-item">
            <a href="/accb_food.vn/doitac/part_contracts" id="GFG">Contract</a>
          </li>
          -->
          
          <li class="Navbar-Directory-item">About us</li>
        </ul>
        <div class="Navbar-Search">
          <input
            class="Navbar-Search-input"
            type="search"
            placeholder="Search"
          />
          <button class="Navbar-Search-btn">
            <span>
              <i class="fa-solid fa-search"></i>
            </span>
          </button>
        </div>

          <div class="Nav-Subnav">
            <div class="Nav-Subnav-account">
              <form action="/process_sign_out">
                <button>
                  <i class="fa-solid fa-arrow-right-from-bracket"></i>
                </button>
              </form>
            </div>
          </div>
      </nav>
    </section>

    <section>
      <div class="slide">
        <img src="/images/pic/Slide 1.png" alt=""/>
        <div class="left_slide">
          <span><%=dataFoods[0].MAN_TEN%></span>
  
          <span>
            <%=dataFoods[0].MAN_MIEUTA%>
          </span>
        
        </div>
      </div>
    </section>
    <section>
      <div class="branch">
        <div class="branch_top">
          <button>
            <i class="fa-solid fa-circle"></i>
            <i class="fa-solid fa-circle"></i>
            <i class="fa-solid fa-circle"></i>
          </button>
          <span>Our Branch</span>
          <span>Branches</span>
        </div>

        <div class="branch_list">

          <% for(let i=0; i<dataBranch.length; i++){ %>
            <div class="branch_tag">
              <div class="left_tag">
                <img
                  src="/images/pic/Lovepik_com-401432553-building.png"
                  alt=""
                />
              </div>
              <div class="right_tag">
                <span><%=dataBranch[i].CN_TEN%></span>
                <span>

                </span>
                <div class="right_cart-button">
                  <form action="/accb_food.vn/doitac/branch/id/<%=dataBranch[i].CN_MA%>">
                    <button>Details</button>
                  </form>
                </div>
              </div>
            </div>
          <%}%>

        </div>
      </div>
    </section>
    <footer>
      <span>Copyright © 2022 ACCB Food Inc.</span>
    </footer>

    <script
      src="https://kit.fontawesome.com/9382b228af.js"
      crossorigin="anonymous"
    ></script>
  </body>
</html>
