<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/css/resert.css" />
    <link rel="stylesheet" href="/css/partner/orders.css" />
    <link rel="stylesheet" href="/fontawesome-free-6.2.1-web/css/all.css" />

    <style>
      #GFG {
        text-decoration: none;
      }
      a {
        color: black;
      }
    </style>

    <title>Orders</title>
  </head>

  <body>
    <section>
      <nav class="Navbar">
        <img id="logo" src="/images/pic/LOGO.png" alt="this is logo" />
        <ul class="Navbar-Directory">
          <li class="Navbar-Directory-item">
            <a href="/accb_food.vn/doitac" id="GFG">Home</a>
          </li>

          <li class="Navbar-Directory-item">
            <a href="/accb_food.vn/doitac/shop" id="GFG">Shop</a>
          </li>

          <li class="Navbar-Directory-item">
            <a href="/accb_food.vn/doitac/orders" id="GFG">Order</a>
          </li>

          <!--
          <li class="Navbar-Directory-item">
            <a href="/accb_food.vn/doitac/part_contracts" id="GFG">Contract</a>
          </li>
          -->

          <li class="Navbar-Directory-item">About us</li>
        </ul>
        <div class="Navbar-Search">
          <input
            class="Navbar-Search-input"
            type="search"
            placeholder="Search"
          />
          <button class="Navbar-Search-btn">
            <span>
              <i class="fa-solid fa-search"></i>
            </span>
          </button>
        </div>

        <div class="Nav-Subnav">
          <div class="Nav-Subnav-account">
            <form action="/process_sign_out">
              <button>
                <i class="fa-solid fa-arrow-right-from-bracket"></i>
              </button>
            </form>
          </div>
        </div>
      </nav>
    </section>

    <div class="go_back">
      <button type="submit">
        <i class="fa-solid fa-arrow-left"></i>
        Orders History
      </button>
    </div>

    <section>
      <div class="UNCONFIRMED_ORDER">
        <div class="container">
          <div class="top">
            <span>Your Orders</span>
            <span>Track Your Orders</span>
          </div>
          <div class="list">
            <%for(let i=0; i<dataOrders.length; i++){%>
              <%if(dataOrders[i].DH_TINHTRANG!='Đã hủy'){ %>
                <div class="cart">
                  <div class="left_cart">
                    <img src="/images/pic/logo.png" alt="" />
                  </div>
                  <div class="right_cart">
                    <div class="stars">
                      <i class="fa-regular fa-star"></i>
                      <i class="fa-regular fa-star"></i>
                      <i class="fa-regular fa-star"></i>
                      <i class="fa-regular fa-star"></i>
                      <i class="fa-regular fa-star"></i>
                    </div>
                    <span class="name_order"><%=dataOrders[i].DH_MA%></span>
                    <div class="bottom_cart">
                      <span
                        >Totals cost:
                        <span
                          >$
                          <span> <%=dataOrders[i].DH_TONGTIEN%> </span>
                        </span>
                      </span>
                      <div class="status">
                        <span
                          >Delivery status:
                          <span><%=dataOrders[i].DH_TINHTRANG%></span>
                        </span>
                        <form action="/accb_food.vn/doitac/cancel_order/id/<%=dataOrders[i].DH_MA%>" method="post">
                          <button>Cancel</button>
                        </form>
                      </div>
                    </div>
                  </div>
                </div>
              <%}%>
            <%}%>
          </div>
        </div>
      </div>
    </section>

    <footer>
      <span>Copyright © 2022 ACCB Food Inc.</span>
    </footer>

    <script
      src="https://kit.fontawesome.com/9382b228af.js"
      crossorigin="anonymous"
    ></script>
  </body>
</html>
