<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/resert.css">
    <link rel="stylesheet" href="/css/partner/PartContract.css">
    <link rel="stylesheet" href="/fontawesome-free-6.2.1-web/css/all.css">
    <title>Contract</title>
</head>

<body>
    <section>
        <nav class="Navbar">
            <img id="logo" src="/images/LOGO.png" alt="this is logo">
            <ul class="Navbar-Directory">
                <li class="Navbar-Directory-item">Home</li>
                <li class="Navbar-Directory-item">Dishes</li>
                <li class="Navbar-Directory-item">Menu</li>
                <li class="Navbar-Directory-item">Review</li>
                <li class="Navbar-Directory-item">Order</li>
                <li class="Navbar-Directory-item">About us</li>
            </ul>

            <div class="Navbar-Search">
                <input class="Navbar-Search-input" type="search" placeholder="Search">
                <button class="Navbar-Search-btn">
                    <span>
                        <i class="fa-solid fa-search"></i>
                    </span>
                </button>
            </div>

            <div class="Nav-Subnav">
                <div class="Nav-Subnav-love">
                    <i class="fa-regular fa-heart"></i>
                </div>
                <div class="Nav-Subnav-cart">
                    <i class="fa-sharp fa-solid fa-cart-plus"></i>
                </div>
                <div class="Nav-Subnav-account">
                    <i class="fa-regular fa-user"></i>
                </div>
            </div>
        </nav>
    </section>

    <div class="go_back">
        <button type="submit">
            <i class="fa-solid fa-arrow-left"></i>
            Contract
        </button>
    </div>

    <section>
        <div class="container">
            <div class="Title">
                <span>Our Contract</span>
                <span>LIST OF CONTRACT</span>
            </div>
            <div class="list">
                <div class="contract">
                    <div class="left_contract">
                        <img src="/images/pic-3.png" alt="">
                    </div>
                    <div class="right_contract">
                        <div class="top_right_contract">
                            <span class="name">
                                Delicious Food Inc
                            </span>
                            <span>Lorem ipsum dolor sit amet consectetur adipisicing elit. Cum quasi rerum corporis
                                atque accusamus voluptate libero voluptatem in nesciunt et! Totam ipsa repellendus vel
                                ea a? Nesciunt eligendi dolorum error.
                            </span>
                        </div>
                        <div class="bottom_right_contract">
                            <div class="signin_date">
                                <span>Contract signing date:</span>
                                <span>10/01/2022</span>
                            </div>
                            <div class="expired_date">
                                <span>Contract term:</span>
                                <span>24/12/2022</span>
                            </div>
                            <div class="btn">
                                <div class="left_btn">
                                    <button>Renewal</button>
                                </div>
                                <div class="right_btn">
                                    <button>Details</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
    </section>

    <footer>
        <span>Copyright © 2022 ACCB Food Inc.</span>
    </footer>

    <script src="https://kit.fontawesome.com/9382b228af.js" crossorigin="anonymous"></script>
</body>

</html>