<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/resert.css">
    <link rel="stylesheet" href="/css/partner/PartContract.css">
    <link rel="stylesheet" href="/fontawesome-free-6.2.1-web/css/all.css">

    <style>
        #GFG {
            text-decoration: none;
        }
        a { 
          color: black;
        }
      </style>

    <title>Contract</title>
</head>

<body>
    <section>
        <nav class="Navbar">
            <img id="logo" src="/images/pic/logo.png" alt="this is logo">
            <ul class="Navbar-Directory">

                <li class="Navbar-Directory-item">
                  <a href="/accb_food.vn/doitac" id="GFG">Home</a>
                </li>
                
                <li class="Navbar-Directory-item">
                    <a href="/accb_food.vn/doitac/menu" id="GFG">Menu</a>
                </li>

                <li class="Navbar-Directory-item">
                  <a href="/accb_food.vn/doitac/shop" id="GFG">Shop</a>
                </li>
      
                <li class="Navbar-Directory-item">
                  <a href="/accb_food.vn/doitac/orders" id="GFG">Order</a>
                </li>
      
                <li class="Navbar-Directory-item">
                 <a href="/accb_food.vn/doitac/part_contracts" id="GFG">Contract</a>
                </li>
                
                <li class="Navbar-Directory-item">About us</li>
              </ul>

            <div class="Navbar-Search">
                <input class="Navbar-Search-input" type="search" placeholder="Search">
                <button class="Navbar-Search-btn">
                    <span>
                        <i class="fa-solid fa-search"></i>
                    </span>
                </button>
            </div>

            <div class="Nav-Subnav">
                <div class="Nav-Subnav-account">
                  <form action="/process_sign_out">
                    <button>
                      <i class="fa-solid fa-arrow-right-from-bracket"></i>
                    </button>
                  </form>
                </div>
              </div>
        </nav>
    </section>

    <div class="go_back">
        <button type="submit">
            <i class="fa-solid fa-arrow-left"></i>
            Contract
        </button>
    </div>

    <section>
        <div class="container">
            <div class="Title">
                <span>Our Contract</span>
                <span>LIST OF CONTRACT</span>
            </div>
            <div class="list">
                <div class="contract">
                    <div class="left_contract">
                        <img src="/images/pic/pic-3.png" alt="">
                    </div>
                    <div class="right_contract">
                        <div class="top_right_contract">
                            <span class="name">
                                Delicious Food Inc
                            </span>
                            <span>Lorem ipsum dolor sit amet consectetur adipisicing elit. Cum quasi rerum corporis
                                atque accusamus voluptate libero voluptatem in nesciunt et! Totam ipsa repellendus vel
                                ea a? Nesciunt eligendi dolorum error.
                            </span>
                        </div>
                        <div class="bottom_right_contract">
                            <div class="signin_date">
                                <span>Contract signing date:</span>
                                <span>10/01/2022</span>
                            </div>
                            <div class="expired_date">
                                <span>Contract term:</span>
                                <span>24/12/2022</span>
                            </div>
                            <div class="btn">
                                <div class="left_btn">
                                    <form action="/accb_food.vn/doitac/renew_contract">
                                        <button>Renewal</button>
                                    </form>
                                </div>
                                <div class="right_btn">
                                    <form action="/accb_food.vn/doitac/contract_detail">
                                        <button>Detail</button>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
    </section>

    <footer>
        <span>Copyright © 2022 ACCB Food Inc.</span>
    </footer>

    <script src="https://kit.fontawesome.com/9382b228af.js" crossorigin="anonymous"></script>
</body>

</html>