<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/resert.css">
    <link rel="stylesheet" href="/css/driver/Wallet.css">
    <link rel="stylesheet" href="/fontawesome-free-6.2.1-web/css/all.css">

    <style>
        #GFG {
            text-decoration: none;
        }
        a { 
          color: black;
        }
      </style>
    <title>Wallet</title>
</head>

<body>
    <section>
        <nav class="Navbar">
            <img id="logo" src="/images/pic/logo.png" alt="this is logo">
            <ul class="Navbar-Directory">
                <li class="Navbar-Directory-item">
                    <a href="/accb_food.vn/taixe/" id="GFG">Order</a>
                  </li>
                  <li class="Navbar-Directory-item">
                    <a href="/accb_food.vn/taixe/wallet" id="GFG">Wallet</a>
                  </li>
            </ul>
            <div class="Navbar-Search">
                <input class="Navbar-Search-input" type="search" placeholder="Search">
                <button class="Navbar-Search-btn">
                    <span>
                        <i class="fa-solid fa-search"></i>
                    </span>
                </button>
            </div>

            <div class="Nav-Subnav">
                <div class="Nav-Subnav-account">
                    <a href="/accb_food.vn/taixe/profile">
                        <i class="fa-regular fa-user"></i>
                    </a>
                </div>
                <div class="Nav-Subnav-love">
                    <form action="/process_sign_out">
                        <button>
                          <i class="fa-solid fa-arrow-right-from-bracket"></i>
                        </button>
                      </form>
                </div>
            </div>
        </nav>
    </section>

    <div class="go_back">
        <!--
            @@
        -->
    </div>

    <span class="Title">My wallet</span>
    <section>
        <div class="info">
            <div class="left_info">
                <div class="rate">
                    <div class="top_top">
                        <span>Rates</span>
                    </div>
                    <div class="current_rate">
                        <span>Current Rates: </span>
                        <div class="price">
                            <span>$</span>
                            <span><%=cost%></span>
                        </div>
                    </div>
                    <div class="sales">
                        <div class="left_sales">
                            <div class="top_left">
                                <span>
                                    <i class="fa-solid fa-arrow-up"></i>
                                </span>
                                <span>Increase</span>
                            </div>
                            <div class="bottom_left">
                                <span>$</span>
                                <span>1,000.68</span>
                            </div>
                        </div>
                        <div class="right_sales">
                            <div class="top_right">
                                <span>
                                    <i class="fa-solid fa-arrow-down"></i>
                                </span>
                                <span>Decrease</span>
                            </div>
                            <div class="bottom_right">
                                <span>$</span>
                                <span>0</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="right_info">
                <!--
                    @@
                -->
            </div>
        </div>
    </section>
    <section>
        <div class="UNCONFIRMED_ORDER">
            <div class="container">
                <div class="top">
                    <span>Your Activities</span>
                    <span>YOUR ACTIVITY STATISTICS</span>
                </div>
                <div class="list">
                    <%for(let i=0; i<dataOrders.length; i++){ %>
                          <div class="cart">
                            <div class="left_cart">
                              <img src="/images/pic/logo.png" alt="" />
                            </div>
                            <div class="right_cart">
                              <div class="stars">
                                <i class="fa-regular fa-star"></i>
                                <i class="fa-regular fa-star"></i>
                                <i class="fa-regular fa-star"></i>
                                <i class="fa-regular fa-star"></i>
                                <i class="fa-regular fa-star"></i>
                              </div>
                              <span class="name_order"><%=dataOrders[i].DH_MA%></span>
                              <div class="bottom_cart">
                                <span
                                  >Totals cost:
                                  <span
                                    >$
                                    <span> <%=dataOrders[i].DH_TONGTIEN%> </span>
                                  </span>
                                </span>
                                <div class="status">
                                  <span
                                    >Delivery status:
                                    <span><%=dataOrders[i].DH_TINHTRANG%></span>
                                  </span>
                                  
                                </div>
                              </div>
                            </div>
                          </div>
                      <%}%>
                </div>
            </div>
        </div>
    </section>

    <footer>
        <span>Copyright © 2022 ACCB Food Inc.</span>
    </footer>
    <script src="https://kit.fontawesome.com/9382b228af.js" crossorigin="anonymous"></script>
</body>

</html>