<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <!-- font awesome cdn link  -->
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"
    />
    <link rel="stylesheet" href="/fontawesome-free-6.2.1-web/css/all.css" />
    <link
      href="https://fonts.googleapis.com/css?family=Poppins"
      rel="stylesheet"
    />

    <!-- custom css file link  -->
    <link rel="stylesheet" href="/css/resert.css" />
    <link rel="stylesheet" href="/css/fooddetail.css" />

    <title>Food Details</title>
  </head>

  <body>
    <section>
      <nav class="Navbar">
        <img id="logo" src="/images/pic/logo.png" alt="this is logo" />
        <ul class="Navbar-Directory">
          <li class="Navbar-Directory-item">Home</li>
          <li class="Navbar-Directory-item">Dishes</li>
          <li class="Navbar-Directory-item">Menu</li>
          <li class="Navbar-Directory-item">Review</li>
          <li class="Navbar-Directory-item">Order</li>
          <li class="Navbar-Directory-item">About us</li>
        </ul>

        <div class="Navbar-Search">
          <input
            class="Navbar-Search-input"
            type="search"
            placeholder="Search"
          />
          <button class="Navbar-Search-btn">
            <span>
              <i class="fa-solid fa-search"></i>
            </span>
          </button>
        </div>

        <div class="Nav-Subnav">
          <div class="Nav-Subnav-love">
            <i class="fa-regular fa-heart"></i>
          </div>
          <div class="Nav-Subnav-cart">
            <i class="fa-sharp fa-solid fa-cart-plus"></i>
          </div>
          <div class="Nav-Subnav-account">
            <i class="fa-regular fa-user"></i>
          </div>
        </div>
      </nav>
    </section>

    <div class="go_back">
      <button type="submit">
        <i class="fa-solid fa-arrow-left"></i>
        Food
      </button>
    </div>

    <section>
      <div class="container">
        <div class="top">
          <span>Food Details</span>
        </div>
        <div class="food_details">
          <div class="left_food_details">
            <img src="/images/foods/dish-1.png" alt="" />
            <div class="stars">
              <i class="fa-regular fa-star"></i>
              <i class="fa-regular fa-star"></i>
              <i class="fa-regular fa-star"></i>
              <i class="fa-regular fa-star"></i>
              <i class="fa-regular fa-star"></i>
            </div>
          </div>
          <div class="right_food_details">
            <div class="top_right_food_details">
              <div class="name_partner">
                <span>Partner: </span>
                <span>Delicious Food Inc</span>
              </div>
              <div class="name_menu">
                <span>Menu: </span>
                <span>Delicious Food Menu</span>
              </div>

              <div class="name_food">
                <span>Food: </span>
                <span>Hamburger</span>
              </div>

              <div class="details">
                <span>Details: </span>
                <span>
                  Lorem ipsum dolor sit amet consectetur adipisicing elit. Ipsum
                  odit fuga repellat optio, beatae dolor molestiae iste odio
                  ratione voluptas dolore quas. Eligendi quis dolore,
                  repudiandae beatae voluptates aspernatur error.
                </span>
              </div>
            </div>

            <div class="bottom_right_food_details">
              <div class="status_of_food">
                <span>In stock</span>
                <div class="price">
                  <span>Price:</span>
                  <span>$</span>
                  <span class="price_food">15,99</span>
                </div>
              </div>
              <div class="bottom_btn">
                <div class="order_btn">
                  <button>Order now</button>
                </div>
                <div class="btn_cart">
                  <i class="fa-sharp fa-solid fa-cart-plus"></i>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>

    <section>
      <div class="comment">
        <div class="top_comment">
          <span>Customer's Review</span>
          <span>What the say?</span>
        </div>
        <div class="list_comment">
          <div class="tag_comment">
            <div class="top_tag_comment">
              <div class="left_top_tag_comment">
                <img src="/images/pic/pic-2.png" alt="This is avatar" />
                <div class="middel_top">
                  <span class="name_cus"> Hoang Van Cau </span>
                  <div class="stars">
                    <i class="fa-regular fa-star"></i>
                    <i class="fa-regular fa-star"></i>
                    <i class="fa-regular fa-star"></i>
                    <i class="fa-regular fa-star"></i>
                    <i class="fa-regular fa-star"></i>
                  </div>
                </div>
              </div>
              <div class="right_top_tag_comment">
                <i class="fa-regular fa-eye"></i>
              </div>
            </div>
            <div class="bottom_tag_comment">
              <span
                >Lorem ipsum dolor sit amet consectetur adipisicing elit. Porro
                mollitia deleniti autem dolore. Dolorum vitae laudantium tempora
                veniam. Magni quis facere aperiam, possimus cupiditate sunt
                dicta aliquam qui nobis delectus?
              </span>
            </div>
          </div>

          <div class="tag_comment">
            <div class="top_tag_comment">
              <div class="left_top_tag_comment">
                <img src="/images/pic/pic-2.png" alt="This is avatar" />
                <div class="middel_top">
                  <span class="name_cus"> Hoang Van Cau </span>
                  <div class="stars">
                    <i class="fa-regular fa-star"></i>
                    <i class="fa-regular fa-star"></i>
                    <i class="fa-regular fa-star"></i>
                    <i class="fa-regular fa-star"></i>
                    <i class="fa-regular fa-star"></i>
                  </div>
                </div>
              </div>
              <div class="right_top_tag_comment">
                <i class="fa-regular fa-eye"></i>
              </div>
            </div>
            <div class="bottom_tag_comment">
              <span
                >Lorem ipsum dolor sit amet consectetur adipisicing elit. Porro
                mollitia deleniti autem dolore. Dolorum vitae laudantium tempora
                veniam. Magni quis facere aperiam, possimus cupiditate sunt
                dicta aliquam qui nobis delectus?
              </span>
            </div>
          </div>
          <div class="tag_comment">
            <div class="top_tag_comment">
              <div class="left_top_tag_comment">
                <img src="/images/pic/pic-2.png" alt="This is avatar" />
                <div class="middel_top">
                  <span class="name_cus"> Hoang Van Cau </span>
                  <div class="stars">
                    <i class="fa-regular fa-star"></i>
                    <i class="fa-regular fa-star"></i>
                    <i class="fa-regular fa-star"></i>
                    <i class="fa-regular fa-star"></i>
                    <i class="fa-regular fa-star"></i>
                  </div>
                </div>
              </div>
              <div class="right_top_tag_comment">
                <i class="fa-regular fa-eye"></i>
              </div>
            </div>
            <div class="bottom_tag_comment">
              <span
                >Lorem ipsum dolor sit amet consectetur adipisicing elit. Porro
                mollitia deleniti autem dolore. Dolorum vitae laudantium tempora
                veniam. Magni quis facere aperiam, possimus cupiditate sunt
                dicta aliquam qui nobis delectus?
              </span>
            </div>
          </div>
        </div>
      </div>
    </section>

    <footer>
      <span>Copyright © 2022 ACCB Food Inc.</span>
    </footer>

    <script
      src="https://kit.fontawesome.com/9382b228af.js"
      crossorigin="anonymous"
    ></script>
  </body>
</html>
