<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/resert.css">
    <link rel="stylesheet" href="/Customer/Home page/Home.css">
    <link rel="stylesheet" href="/fontawesome-free-6.2.1-web/css/all.css">
    <title>Home</title>
</head>

<body>
    <section>
        <nav class="Navbar">
            <img id="logo" src="/images/LOGO.png" alt="this is logo">
            <ul class="Navbar-Directory">
                <li class="Navbar-Directory-item">Home</li>
                <li class="Navbar-Directory-item">Dishes</li>
                <li class="Navbar-Directory-item">Menu</li>
                <li class="Navbar-Directory-item">Review</li>
                <li class="Navbar-Directory-item">Order</li>
                <li class="Navbar-Directory-item">About us</li>
            </ul>
            <div class="Navbar-Search">
                <input class="Navbar-Search-input" type="search" placeholder="Search">
                <button class="Navbar-Search-btn">
                    <span>
                        <i class="fa-solid fa-search"></i>
                    </span>
                </button>
            </div>

            <div class="Nav-Subnav">
                <div class="Nav-Subnav-love">
                    <i class="fa-regular fa-heart"></i>
                </div>
                <div class="Nav-Subnav-cart">
                    <i class="fa-sharp fa-solid fa-cart-plus"></i>
                </div>
                <div class="Nav-Subnav-account">
                    <i class="fa-regular fa-user"></i>
                </div>
            </div>
        </nav>
    </section>

    <section>
        <div class="slide">
            <img src="/images/Slide 1.png" alt="">
            <div class="left_slide">
                <span>Delicious</span>
                <span>Quench the Hunger</span>
                <span>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Suscipit, nesciunt accusamus hic iusto
                    et quam ex fuga veniam qui ipsa non beatae voluptatum voluptate recusandae dignissimos labore vel
                    alias inventore!
                </span>
                <button>Order now!</button>
            </div>
        </div>
    </section>


    <section>
        <div class="dishes">
            <div class="top_dishes">
                <button>
                    <i class="fa-solid fa-circle"></i>
                    <i class="fa-solid fa-circle"></i>
                    <i class="fa-solid fa-circle"></i>
                </button>
                <span>Our dishes</span>
                <span>Popular dishes</span>
            </div>
            <div class="list_dishes">
                <div class="tag_dishes">
                    <div class="top_tag_dishes">
                        <div class="detail_icon">
                            <i class="fa-regular fa-eye"></i>
                        </div>
                        <div class="detail_icon">
                            <i class="fa-regular fa-heart"></i>
                        </div>
                    </div>
                    <img src="/images/dish-1.png" alt="">
                    <div class="bottom_tag_dishes">
                        <div class="details">
                            <span class="name_food">
                                Delicious Food
                            </span>
                            <div class="stars">
                                <div>
                                    <i class="fa-regular fa-star"></i>
                                    <i class="fa-regular fa-star"></i>
                                    <i class="fa-regular fa-star"></i>
                                    <i class="fa-regular fa-star"></i>
                                    <i class="fa-regular fa-star"></i>
                                </div>
                            </div>
                            <span class="price">$ <span>15,99</span></span>
                        </div>
                        <button>Add to cart
                            <i class="fa-sharp fa-solid fa-cart-plus"></i>
                        </button>
                    </div>
                </div>
            </div>
    </section>

    <section>
        <div class="menu">
            <div class="menu_top_dishes">
                <button>
                    <i class="fa-solid fa-circle"></i>
                    <i class="fa-solid fa-circle"></i>
                    <i class="fa-solid fa-circle"></i>
                </button>
                <span>Our Menu</span>
                <span>TODAY’S SPECIALITY</span>
            </div>
            <div class="menu_list_dishes">
                <div class="menu_tag_dishes">
                    <div class="menu_top_tag_dishes">
                        <div class="menu_detail_icon">
                            <i class="fa-regular fa-eye"></i>
                        </div>
                        <div class="menu_detail_icon">
                            <i class="fa-regular fa-heart"></i>
                        </div>
                    </div>
                    <img src="/images/dish-1.png" alt="">
                    <div class="menu_bottom_tag_dishes">
                        <div class="menu_details">
                            <div class="menu_stars">
                                <div>
                                    <i class="fa-regular fa-star"></i>
                                    <i class="fa-regular fa-star"></i>
                                    <i class="fa-regular fa-star"></i>
                                    <i class="fa-regular fa-star"></i>
                                    <i class="fa-regular fa-star"></i>
                                </div>
                                <span>Out of stock</span>
                            </div>
                            <span class="menu_name_food">
                                Delicious Food
                            </span>
                            <span>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Pariatur, cumque possimus ut
                                hic commodi rem laborum culpa et dolore maiores, aut esse odit consectetur adipisci
                                labore vero autem ipsam debitis.
                            </span>
                        </div>
                        <div class="btn">
                            <button>Add to cart
                                <i class="fa-sharp fa-solid fa-cart-plus"></i>
                            </button>
                            <span class="price">$ <span>15,99</span></span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section>
        <div class="comment">
            <div class="comment_top">
                <button>
                    <i class="fa-solid fa-circle"></i>
                    <i class="fa-solid fa-circle"></i>
                    <i class="fa-solid fa-circle"></i>
                </button>
                <span>Customer’s Review</span>
                <span>WHAT THE SAY?</span>
            </div>
            <div class="comment_bottom">
                <div class="rates">
                    <span>Your rate:</span>
                    <div class="stars">
                        <button>
                            <i class="fa-regular fa-star"></i>
                        </button>
                        <button>
                            <i class="fa-regular fa-star"></i>
                        </button>
                        <button>
                            <i class="fa-regular fa-star"></i>
                        </button>
                        <button>
                            <i class="fa-regular fa-star"></i>
                        </button>
                        <button>
                            <i class="fa-regular fa-star"></i>
                        </button>
                    </div>
                </div>
                <div class="cus_cmt">
                    <span>Your comment:</span>
                    <form class="sub">
                        <input type="text" placeholder="Enter your comment">
                        <input type="submit" value="Send">
                    </form>
                </div>
                <div class="list_comment">
                    <div class="tag_comment">
                        <div class="top_tag_comment">
                            <div class="left_top_tag_comment">
                                <img src="/images/pic-2.png" alt="This is avatar">
                                <div class="middel_top">
                                    <span class="name_cus">
                                        Hoang Van Cau
                                    </span>
                                    <div class="stars">
                                        <i class="fa-regular fa-star"></i>
                                        <i class="fa-regular fa-star"></i>
                                        <i class="fa-regular fa-star"></i>
                                        <i class="fa-regular fa-star"></i>
                                        <i class="fa-regular fa-star"></i>
                                    </div>
                                </div>
                            </div>
                            <div class="right_top_tag_comment">
                                <i class="fa-regular fa-eye"></i>
                            </div>
                        </div>
                        <div class="bottom_tag_comment">
                            <span>Lorem ipsum dolor sit amet consectetur adipisicing elit. Porro mollitia deleniti autem
                                dolore. Dolorum vitae laudantium tempora veniam. Magni quis facere aperiam, possimus
                                cupiditate sunt dicta aliquam qui nobis delectus?
                            </span>
                        </div>
                    </div>
                    <div class="tag_comment">
                        <div class="top_tag_comment">
                            <div class="left_top_tag_comment">
                                <img src="/images/pic-2.png" alt="This is avatar">
                                <div class="middel_top">
                                    <span class="name_cus">
                                        Hoang Van Cau
                                    </span>
                                    <div class="stars">
                                        <i class="fa-regular fa-star"></i>
                                        <i class="fa-regular fa-star"></i>
                                        <i class="fa-regular fa-star"></i>
                                        <i class="fa-regular fa-star"></i>
                                        <i class="fa-regular fa-star"></i>
                                    </div>
                                </div>
                            </div>
                            <div class="right_top_tag_comment">
                                <i class="fa-regular fa-eye"></i>
                            </div>
                        </div>
                        <div class="bottom_tag_comment">
                            <span>Lorem ipsum dolor sit amet consectetur adipisicing elit. Porro mollitia deleniti autem
                                dolore. Dolorum vitae laudantium tempora veniam. Magni quis facere aperiam, possimus
                                cupiditate sunt dicta aliquam qui nobis delectus?
                            </span>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </section>

    <section>
        <div class="about_us">
            <div class="comment_top">
                <button>
                    <i class="fa-solid fa-circle"></i>
                    <i class="fa-solid fa-circle"></i>
                    <i class="fa-solid fa-circle"></i>
                </button>
                <span>About us</span>
                <span>WHY CHOOSE US?</span>
            </div>
            <div class="bottom_about_us">
                <div class="left_bottom">
                    <img src="/images/about-img.png" alt="">
                </div>
                <div class="right_bottom">
                    <span>Best Food In The Country</span>
                    <span>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed purus eget consectetur risus,
                        mauris. Dis metus, eget
                        ullamcorper molestie ut iaculis imperdiet.
                    </span>
                    <span>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed purus eget consectetur risus,
                        mauris. Dis metus, eget
                        ullamcorper molestie ut iaculis imperdiet.
                    </span>

                </div>
            </div>
        </div>
    </section>
    <footer>
        <span>Copyright © 2022 ACCB Food Inc.</span>
    </footer>
</body>

</html>