<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/resert.css">
    <link rel="stylesheet" href="/Customer/Orders/orders.css">
    <link rel="stylesheet" href="/fontawesome-free-6.2.1-web/css/all.css">
    <title>Your Orders</title>
</head>

<body>
    <section>
        <nav class="Navbar">
            <img id="logo" src="/images/LOGO.png" alt="this is logo">
            <ul class="Navbar-Directory">
                <li class="Navbar-Directory-item">Home</li>
                <li class="Navbar-Directory-item">Dishes</li>
                <li class="Navbar-Directory-item">Menu</li>
                <li class="Navbar-Directory-item">Review</li>
                <li class="Navbar-Directory-item">Order</li>
                <li class="Navbar-Directory-item">About us</li>
            </ul>

            <div class="Navbar-Search">
                <input class="Navbar-Search-input" type="search" placeholder="Search">
                <button class="Navbar-Search-btn">
                    <span>
                        <i class="fa-solid fa-search"></i>
                    </span>
                </button>
            </div>

            <div class="Nav-Subnav">
                <div class="Nav-Subnav-love">
                    <i class="fa-regular fa-heart"></i>
                </div>
                <div class="Nav-Subnav-cart">
                    <i class="fa-sharp fa-solid fa-cart-plus"></i>
                </div>
                <div class="Nav-Subnav-account">
                    <i class="fa-regular fa-user"></i>
                </div>
            </div>
        </nav>
    </section>

    <div class="go_back">
        <button type="submit">
            <i class="fa-solid fa-arrow-left"></i>
            Cart
        </button>
    </div>

    <section>
        <div class="container">
            <div class="top">
                <span>Your Orders</span>
                <span>Track Your Orders</span>
            </div>
            <div class="list">
                <div class="cart">
                    <div class="left_cart">
                        <img src="/images/dish-1.png" alt="">
                    </div>
                    <div class="right_cart">
                        <div class="stars">
                            <i class="fa-regular fa-star"></i>
                            <i class="fa-regular fa-star"></i>
                            <i class="fa-regular fa-star"></i>
                            <i class="fa-regular fa-star"></i>
                            <i class="fa-regular fa-star"></i>
                        </div>
                        <span class="name_partner">Đối tác</span>
                        <span class="name_menu">Thực đơn</span>
                        <span class="name_food">Hambuger</span>
                        <span class="detail">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Libero cumque
                            voluptates, modi
                            officia animi quidem, totam rerum ratione est saepe adipisci repellat non illo tempore dicta
                            dignissimos sunt dolor accusantium.</span>
                        <span class="quantity">x1</span>
                        <div class="bottom_cart">
                            <span>Totals cost:
                                <span>$
                                    <span>
                                        265,68
                                    </span>
                                </span>
                            </span>
                            <div class="status">
                                <span>Delivery status:
                                    <span>Delivering</span>
                                </span>
                                <button>Cancel</button>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="cart">
                    <div class="left_cart">
                        <img src="/images/dish-1.png" alt="">
                    </div>
                    <div class="right_cart">
                        <div class="stars">
                            <i class="fa-regular fa-star"></i>
                            <i class="fa-regular fa-star"></i>
                            <i class="fa-regular fa-star"></i>
                            <i class="fa-regular fa-star"></i>
                            <i class="fa-regular fa-star"></i>
                        </div>
                        <span class="name_partner">Đối tác</span>
                        <span class="name_menu">Thực đơn</span>
                        <span class="name_food">Hambuger</span>
                        <span class="detail">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Libero cumque
                            voluptates, modi
                            officia animi quidem, totam rerum ratione est saepe adipisci repellat non illo tempore dicta
                            dignissimos sunt dolor accusantium.</span>
                        <span class="quantity">x1</span>
                        <div class="bottom_cart">
                            <span>Totals cost:
                                <span>$
                                    <span>
                                        265,68
                                    </span>
                                </span>
                            </span>
                            <div class="status">
                                <span>Delivery status:
                                    <span>Delivering</span>
                                </span>
                                <button>Cancel</button>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="cart">
                    <div class="left_cart">
                        <img src="/images/dish-1.png" alt="">
                    </div>
                    <div class="right_cart">
                        <div class="stars">
                            <i class="fa-regular fa-star"></i>
                            <i class="fa-regular fa-star"></i>
                            <i class="fa-regular fa-star"></i>
                            <i class="fa-regular fa-star"></i>
                            <i class="fa-regular fa-star"></i>
                        </div>
                        <span class="name_partner">Đối tác</span>
                        <span class="name_menu">Thực đơn</span>
                        <span class="name_food">Hambuger</span>
                        <span class="detail">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Libero cumque
                            voluptates, modi
                            officia animi quidem, totam rerum ratione est saepe adipisci repellat non illo tempore dicta
                            dignissimos sunt dolor accusantium.</span>
                        <span class="quantity">x1</span>
                        <div class="bottom_cart">
                            <span>Totals cost:
                                <span>$
                                    <span>
                                        265,68
                                    </span>
                                </span>
                            </span>
                            <div class="status">
                                <span>Delivery status:
                                    <span>Delivering</span>
                                </span>
                                <button>Cancel</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <footer>
        <span>Copyright © 2022 ACCB Food Inc.</span>
    </footer>

</body>

</html>