<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/css/resert.css" />
    <link rel="stylesheet" href="/css/agent/ContractDetails.css" />
    <link rel="stylesheet" href="/fontawesome-free-6.2.1-web/css/all.css" />
    <title>Contract Details</title>
  </head>

  <body>
    <section>
      <nav class="Navbar">
        <img id="logo" src="/images/LOGO.png" alt="this is logo" />
        <ul class="Navbar-Directory">
          <li class="Navbar-Directory-item">Home</li>
          <li class="Navbar-Directory-item">Partner</li>
          <li class="Navbar-Directory-item">Contract</li>
          <li class="Navbar-Directory-item">About us</li>
        </ul>
        <div class="Navbar-Search">
          <input
            class="Navbar-Search-input"
            type="search"
            placeholder="Search"
          />
          <button class="Navbar-Search-btn">
            <span>
              <i class="fa-solid fa-search"></i>
            </span>
          </button>
        </div>

        <div class="Nav-Subnav">
          <!-- <div class="Nav-Subnav-love">
                    <i class="fa-regular fa-heart"></i>
                </div>
                <div class="Nav-Subnav-cart">
                    <i class="fa-sharp fa-solid fa-cart-plus"></i>
                </div> -->
          <div class="Nav-Subnav-account">
            <i class="fa-regular fa-user"></i>
          </div>
        </div>
      </nav>
    </section>

    <section>
      <div class="go_back">
        <button type="submit">
          <i class="fa-solid fa-arrow-left"></i>
          Contract details
        </button>
      </div>
    </section>

    <section>
      <div class="top">
        <div class="top_top">
          <span>Contract details</span>
          <span>SIGNED CONTRACT DETAILS</span>
        </div>

        <div class="bottom_top">
          <div class="bottom_top-Title">
            <div class="top_title">
              <span>Contract</span>
              <img src="/images/pic-2.png" alt="" />
            </div>
            <div class="bottom_top_container">
              <div class="info">
                <label for="">Email</label>
                <span>work@email</span>
              </div>
              <div class="info">
                <label for="">Shop name</label>
                <span>ACCB Food</span>
              </div>
              <div class="info">
                <label for="">Representatives</label>
                <span>Hoang Van Cau</span>
              </div>
              <div class="info">
                <label for="">City</label>
                <span>TP.HCM</span>
              </div>
              <div class="info">
                <label for="">County</label>
                <span>VietNam</span>
              </div>
              <div class="info">
                <label for="">Number Of Branches</label>
                <span>3</span>
              </div>
              <div class="info">
                <label for="">Number Of Orders/Day</label>
                <span>500</span>
              </div>
              <div class="info">
                <label for="">Type Of Cuisine</label>
                <span>Noodle</span>
              </div>
              <div class="info">
                <label for="">Business Address</label>
                <span>KTX khu B, DHQG TP.HCM</span>
              </div>
              <div class="info">
                <label for="">Phone Number</label>
                <span>0123456789</span>
              </div>
              <div class="info">
                <label for="">Operating Status</label>
                <span>Opening</span>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
    <section>
      <div class="term">
        <div class="signin_date">
          <span>Contract signing date:</span>
          <span>10/01/2022</span>
        </div>
        <div class="expired_date">
          <span>Contract term:</span>
          <span>24/12/2022</span>
        </div>
        <button class="btn_renew">Contact a partner</button>
      </div>
    </section>
    <footer>
      <span>Copyright © 2022 ACCB Food Inc.</span>
    </footer>

    <script
      src="https://kit.fontawesome.com/9382b228af.js"
      crossorigin="anonymous"
    ></script>
  </body>
</html>
