<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/css/resert.css" />
    <link rel="stylesheet" href="/css/Admin//admin.css" />
    <link rel="stylesheet" href="/fontawesome-free-6.2.1-web/css/all.css" />
    <title>Admin Home Page</title>
  </head>

  <body>
    <section>
      <nav class="Navbar">
        <img id="logo" src="/images/LOGO.png" alt="this is logo" />
        <ul class="Navbar-Directory">
          <li class="Navbar-Directory-item">Admin</li>
          <li class="Navbar-Directory-item">Employee</li>
          <li class="Navbar-Directory-item">Partner</li>
          <li class="Navbar-Directory-item">Customer</li>
          <li class="Navbar-Directory-item">Driver</li>
          <li class="Navbar-Directory-item">Lock</li>
        </ul>
        <div class="Navbar-Search">
          <input
            class="Navbar-Search-input"
            type="search"
            placeholder="Search"
          />
          <button class="Navbar-Search-btn">
            <span>
              <i class="fa-solid fa-search"></i>
            </span>
          </button>
        </div>

        <div class="Nav-Subnav">
          <!-- <div class="Nav-Subnav-love">
                    <i class="fa-regular fa-heart"></i>
                </div>
                <div class="Nav-Subnav-cart">
                    <i class="fa-sharp fa-solid fa-cart-plus"></i>
                </div> -->
          <div class="Nav-Subnav-account">
            <i class="fa-regular fa-user"></i>
          </div>
        </div>
      </nav>
    </section>

    <section>
      <div class="menu">
        <div class="menu_top_dishes">
          <button>
            <i class="fa-solid fa-circle"></i>
            <i class="fa-solid fa-circle"></i>
            <i class="fa-solid fa-circle"></i>
          </button>
          <span>Adimin</span>
          <span>LIST OF ADMIN</span>
        </div>
        <div class="menu_list_dishes">
          <div class="menu_tag_dishes">
            <div class="menu_top_tag_dishes">
              <div class="menu_detail_icon">
                <i class="fa-regular fa-eye"></i>
              </div>
              <div class="menu_detail_icon">
                <i class="fa-solid fa-lock"></i>
              </div>
              <div class="menu_detail_icon">
                <i class="fa-solid fa-xmark"></i>
              </div>
            </div>
            <div class="img">
              <img src="/images/pic-3.png" alt="" />
            </div>

            <div class="menu_bottom_tag_dishes">
              <div class="menu_details">
                <!-- <div class="menu_stars">
                                <div>
                                    <i class="fa-regular fa-star"></i>
                                    <i class="fa-regular fa-star"></i>
                                    <i class="fa-regular fa-star"></i>
                                    <i class="fa-regular fa-star"></i>
                                    <i class="fa-regular fa-star"></i>
                                </div>
                                <span>Out of stock</span>
                            </div> -->
                <span class="menu_name_food"> Delicious Food </span>
                <span
                  >Lorem ipsum dolor, sit amet consectetur adipisicing elit.
                  Pariatur, cumque possimus ut hic commodi rem laborum culpa et
                  dolore maiores, aut esse odit consectetur adipisci labore vero
                  autem ipsam debitis.
                </span>
              </div>
            </div>
          </div>
          <div class="add_dishes">
            <button>
              <i class="fa-solid fa-plus"></i>
            </button>
          </div>
        </div>
        <div class="btn">
          <button>
            Save
            <!-- <i class="fa-sharp fa-solid fa-cart-plus"></i> -->
          </button>
        </div>
      </div>
    </section>
    <footer>
      <span>Copyright © 2022 ACCB Food Inc.</span>
    </footer>

    <script
      src="https://kit.fontawesome.com/9382b228af.js"
      crossorigin="anonymous"
    ></script>
  </body>
</html>
